h2 {
  color: rgba(0,0,0,1);
  background-color: #4448;
  text-align: center;
}

button {
  background-color: darkblue;
  padding: 12px;
  color: #f3f3f3;
  margin: auto;
  display: flex;
}

#game {
  background-color: lightblue;
  
}